@font-face {
  font-family: 'SCoreMontserrat';
  src: url('./SCDream-Regular.woff') format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SCoreMontserrat';
  src: url('./SCDream-Bold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SCoreMontserrat';
  src: url('./Montserrat-Regular.woff') format("woff");
  font-weight: 200;
  unicode-range: U+0041-005A, U+0061-007A;
  font-style: normal;
}

@font-face {
  font-family: 'SCoreMontserrat';
  src: url('./Montserrat-Bold.woff') format("woff");
  font-weight: 600;
  unicode-range: U+0041-005A, U+0061-007A;
  font-style: normal;
}

.headline-1 {
  font: normal normal 200 96px/112px SCoreMontserrat;
  letter-spacing: -1.5px;
}
.headline-2 {
  font: normal normal 200 60px/72px SCoreMontserrat;
  letter-spacing: -0.5px;
}
.headline-3 {
  font: normal normal 200 48px/56px SCoreMontserrat;
}
.headline-4 {
  font: normal normal 200 34px/36px SCoreMontserrat;
}
.headline-5 {
  font: normal normal 200 24px/24px SCoreMontserrat;
  letter-spacing: 0.18px
}
.headline-6 {
  font: normal normal 600 20px/24px SCoreMontserrat;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font: normal normal 200 16px/24px SCoreMontserrat;
  letter-spacing: 0.15px;
}
.subtitle-2 {
  font: normal normal 600 14px/24px SCoreMontserrat;
  letter-spacing: 0.1px;
}

.body-1 {
  font: normal normal 200 16px/24px SCoreMontserrat;
  letter-spacing: 0.5px;
}
.body-2 {
  font: normal normal 200 14px/20px SCoreMontserrat;
  letter-spacing: 0.25px;
}

.button {
  font: normal normal 600 14px/16px SCoreMontserrat;
  letter-spacing: -0.05px;
  text-transform: capitalize;
}

.caption {
  font: normal normal 200 12px/16px SCoreMontserrat;
  letter-spacing: 0.4px;
}

.overline {
  font: normal normal 200 10px/16px SCoreMontserrat;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}